.author {
  color: red;
  font-size: 12px;
}
.line1 {
  color: red;

}
#line2 {
  color: red;
}
img {
  float: right;
}
.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}
.test-box {
  border:  2px salmon;
  padding: 6px;
   margin: 20px;
   background-color: yellow;
}